.dashboard-page {
    padding: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container {
    border: 2px solid;
    height: 90%;
    width: 80%;
    margin-bottom: 60px;
}