.home-page {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-page .main-heading {
    font-size: 2.5rem;
}

.home-page .start-button{
    width: 250px;
    height: 80px;
    border: 2px solid;
    border-radius: 40px;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.24rem;
    transition: all 0.15s ease;
    cursor: pointer;
}

.home-page .start-button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: var(--primary-color);
    transform: scale(1.05);
}