:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* these are css variables that can be used across the whole document */
  --primary-color: #F5F5F5;
  --background-color: #252526; 

}

*, *::before, *::after {
  box-sizing: border-box;
}

/* gets rid of purple color and underlining on links */
a {
  text-decoration: none; 
  color: inherit;
}

button {
  color: inherit;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
}


