.navbar-container {
    display: flex;
}


.navlinks {
    border: 1px solid;
    display: flex;
    list-style: none;
    gap: 7%;
}

.navlinks a{
    transition: all 0.15s ease;
}

.navlinks a:hover{
    color: #7393B3;
}


.login-button {
    align-self: flex-end;
}
